 <div class="banner">
  <div class="container">
    <h1 class="banner-text" id="banner-typed-text"></h1>
    <%= link_to " + New list", new_list_path, class:"btn-banner" %>
  </div>
</div>
<div class="container">
  <div class="text-centered">
    <h1>All my lists</h1>
  </div>
  <div class="card-list-grid">
    <% @lists.each do |list| %>
      <div class="card-list-image", style="background-image: url('<%= cl_image_path list.photo.key %>')">
        <div class="card-list-content">
          <%= link_to list.name, list_path(list), class:"card-list-text" %>
        </div>
        <div class="card-list-delete">
          <%= link_to list_path(list), class:"delete-text", method: :delete, data: { confirm: "Are you sure?" }  do %>
            <p> delete <span><i class="fas fa-trash-alt"></i></span> </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <br>
  <br>
  <br>

</div>
