<div class="banner">
  <h1 class="banner-text">Create your favourite movie lists</h1>
  <%= link_to " + New list", new_list_path, class:"btn-banner" %>
</div>
<div class="container">
  <div class="text-centered">
    <h1>All my lists</h1>
  </div>
  <div class="card-list-grid">
    <% @lists.each do |list| %>
      <div class="background-image">
        <%= image_tag "default_list.jpg", width:"100%" %>
        <h3> <%= link_to list.name, list_path(list), class:"centered-text" %> </h3>
        <%= link_to list_path(list), class:"delete-text", method: :delete, data: { confirm: "Are you sure?" }  do %>
          <p> delete <span><i class="fas fa-trash-alt"></i></span> </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <br>
  <br>
  <br>


</div>
