<div class="container mt-5">
  <div>
    <h1 class="heading">Create a new movie list</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name, placeholder: 'Add a list name' %>
        <%= f.input :photo, as: :file, input_html: {class: "d-none"}, label_html: {class: "upload-photo"}, label: "Upload a list photo" %>
        <%= f.submit "Create list", class: "btn btn-blue" %>
      <% end %>
    </div>
  </div>
</div>
