.card-list-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 30px;
}

@media(max-width: 768px) {
  .card-list-grid {
    grid-template-columns: 1fr;
    grid-gap: 12px;
    margin-bottom: 12px;
  }
}

.card-list-image {
  // background-image: asset-url('default_list.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  margin-bottom: 10px;
}

.card-list-content {
  height: 26vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list-delete {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  padding-right: 8px;
}

.card-list-text {
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 1px #838383;
  &:hover {
    color: white;
    text-decoration: none;
    }
}

.delete-text {
  color: white;
  font-size: 16px;
  &:hover {
    color: $red;
    text-decoration: none;
    }
}
